# Permite rescribir las peticiones URL
RewriteEngine On

#Si el archivo y el directorio no existen, hacer la siguiente reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Redirecciona todas las peticiones a index
RewriteRule ^ index.php [QSA,L]
