<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
</head>
<body>
	<div>
		<h2> Proyecto </h2>
		<form action="/1sGhNU1F/index.php?action=votolist" method="POST">
			<label for="seccion">Seccion: </label>
			<select id="seccion" class="" name="seccion" required>
				<option value="030">030</option>
				<!-- <option value="option">002</option>
				<option value="option">003</option>
				<option value="option">004</option>
				<option value="option">005</option>
				<option value="option">006</option>
				<option value="option">007</option>
				<option value="option">008</option>
				<option value="option">009</option>
				<option value="option">010</option>
				<option value="option">011</option>
				<option value="option">012</option>
				<option value="option">013</option>
				<option value="option">014</option>
				<option value="option">015</option>
				<option value="option">016</option>
				<option value="option">017</option>
				<option value="option">018</option>
				<option value="option">019</option>
				<option value="option">020</option>
				<option value="option">021</option>
				<option value="option">022</option>
				<option value="option">023</option>
				<option value="option">024</option>
				<option value="option">025</option> -->
			</select>
			<br>
			<label for="circuito">Circuito: </label>
			<select id="circuito" class="" name="circuito" required>
				<option value="001">001</option>
				<!-- <option value="option">002</option>
				<option value="option">003</option>
				<option value="option">004</option>
				<option value="option">005</option> -->
			</select>
			<br>
			<label for="mesa">Mesa: </label>
			<select id="mesa" class="" name="mesa" required>
				<option value="001">001</option>
				<!-- <option value="option">002</option>
				<option value="option">003</option>
				<option value="option">004</option> -->
			</select>
			<br>
			<input type="submit" name="submit" value="Buscar">
		</form>
	</div>
</body>
</html>
